<div class="bg-primary text-white m-2 p-2">
    There are {{ model.getProducts().length}} products in the repository
</div>

<div class="text-white" [class] = "getClasses(1)"> <!-- class="text-white" çalışmaz -->
    katalogtaki <span [style.fontSize]="fontSize">ilk ürün</span> {{ model.getProductsById(1)?.name }} <!-- Sadece bir tane css style özelliği eklenebilir-->
</div>

<div [class] = "getClasses(2)">
    katalogtaki <span [style]="">ikinci ürün</span> {{model.getProductsById(2)?.name}}
</div>

<button class="btn btn-primary" [class.disabled] = "disabled">Submit</button> <!-- [class.disabled] = "disabled"--> <!--disabled = true ise class="btn btn-primary disabled", disabled = false ise class = "btn btn-primary" -->

<div class="m-2 p-2" [ngClass]="getClassMap(1)">
    katalogtaki ilk ürün {{ model.getProductsById(1)?.name }}
</div>

<div class="m-2 p-2" [ngClass]="getClassMap(2)">
    katalogtaki <span [ngStyle]="getStyles(2)"></span> ikinci ürün {{model.getProductsById(2)?.name}}
</div>